img{
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
body{
    background-color: rgba(0, 0, 0, 0.87);
    position: relative;
}
.navbar-brand{
    font-weight: 600;
    font-size: 20px;
    color: red !important;
    transform: rotate(-5deg);
    
    font-family: Colonna MT !important;
}
.navbar-nav{
    margin-left: 50px;
}



